{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<style>
    body {
        background-color: rgb(243, 243, 243);
    }
    .requiredField{
        display: none;
}
</style>
<section class="password_reset align-items-center text-center py-5">
    <div class="container py-5">
        <div class="row py-2 align-items-center"></div>
            <p class="display-1">Algorithm</p>
            <p>{% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}</p>
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <div class="d-flex justify-content-center">
                <div class="col-lg-6 col-md-6  py-4">
                    <div class="card" data-aos="zoom-in" data-aos-duration="3000">
                        <div class="card-body">
                            <h5 class="card-title h1">{% trans "Password Reset" %}</h5>
                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset py-4">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="d-grid gap-2 col-6 mx-auto mt-5">
                                    <button class="btn lead" type="submit">Reset</button>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
