<!-- this page currently not used due to email service inavailabililty -->
{% extends "layout.html" %}

{% load i18n %}
{% load account %}

{% block title %}<title>Password Reset</title>{% endblock %}

{% block content %}
<style>
    body {
        background-color: rgb(243, 243, 243);
    }
</style>

<section class="password_reset_done align-items-center text-center py-5">
    <div class="container py-5">
        <div class="row py-5 align-items-center">
           
            <h1 class="py-5">{% trans "Password Reset" %}</h1>

           <h5>{% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}</h5> 

            <h5>{% blocktrans %}We have sent you an e-mail.{%endblocktrans %}</h5>

        </div>
    </div>
</section>

{% endblock %}