<!-- this page currently not used due to email service inavailabililty -->
{% extends "layout.html" %}

{% load i18n %}

{% block title %}<title>Change Password</title>{% endblock %}

{% block content %}
<style>
    body {
      background-color: rgb(243, 243, 243);
    }
</style>  
<section class="password_reset_from_key_done align-items-center text-center py-5">
    <div class="container py-5">
        <div class="row py-2 align-items-center py-5">
            <h1 class="py-5">{% trans "Change Password" %}</h1>
            <p class="h4 py-1">{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</section>

{% endblock %}