{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}<title>Change Password</title>{% endblock %}

{% block content %}
<style>
  body {
    background-color: rgb(243, 243, 243);
  }

  .requiredField {
    display: none;
  }

  input {
    margin-top: 25px;
  }
</style>


<section class="password_change align-items-center text-center py-5">
  <div class="container py-5">
    <div class="row py-2 align-items-center d-flex justify-content-center">
      <p class="display-1">Algorithm</p>
      <!-- <div class="d-flex justify-content-center"> -->
        <div class="col-lg-5 col-md-7 py-5">
          <div class="card" data-aos="zoom-in" data-aos-duration="3000">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
              <div class="card-body">
                <h5 class="card-title h1">Password Change</h5>
                {% csrf_token %}
                <div class="form py-5 text-start text-muted fw-lighter">
                  {{form|crispy}}
                </div>
                <div class="d-grid col-8 mx-auto">
                  <button class="btn lead" type="submit">{% trans "submit" %}</button>
                </div>
                <div class="mt-5">
                  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?"%}</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      <!-- </div> -->
    </div>
</section>

{% endblock %}