{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% block title %}<title>Feedback</title>{% endblock %}
<style>
    body {
        background-color: rgb(243, 243, 243);
    }

    .requiredField {
        display: none;
    }

    input {
        margin-top: 20px;
    }

</style>
<section class="contact align-items-center text-center py-5">
    <div class="container py-5">
        <div class="row py-2 align-items-center"></div>
        <p class="display-1">Algorithm</p>
        <p>Please provide your feedback</p>
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 py-4">
                <div class="card" data-aos="zoom-in" data-aos-duration="3000">
                    <div class="card-body">
                        <h5 class="card-title h1">Feedback</h5>
                        <form method="POST" action="{% url 'feedback' request.user.id %}" class="py-4">
                            {% csrf_token %}
                            {{ form.feedback |as_crispy_field}}
                            <div class="d-grid gap-2 col-6 mx-auto mt-5">
                                <button class="btn lead" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}