{% extends "layout.html" %}
{% block content %}
{% block title %}<title>Delete Key</title>{% endblock %}
<style>
  body {
    background-color: rgb(243, 243, 243);
  }
</style>

<section class="delete_password align-items-center text-center py-5">
  <div class="container py-5">
    <div class="row py-5 align-items-center d-flex justify-content-center">
      <p class="display-1">Are you sure want to delete key: {{ object.key }}?</p>
      <div class="col-lg-3 py-5">
        <form method="post" action="{% url 'delete_password' object.id  %}">
          {% csrf_token %}
          <div class="d-grid col-9 mx-auto">
            <button class="btn lead" type="submit">
              Yes
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-3 py-2">
        <div class="d-grid col-9 mx-auto">
          <a class="btn" href="{% url 'dashboard' object.user.id %}" role="button">No</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}