{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% block title %}<title>Edit Password</title>{% endblock %}
<style>
    body {
        background-color: rgb(243, 243, 243);
    }
    .requiredField{
        display: none;
    }
    input{
        margin-top: 15px;
    }
</style>
<section class="edit_password align-items-center text-center py-5">
    <div class="container py-5">
        <div class="row py-2 align-items-center"></div>
            <p class="h1">Edit exisiting password: {{object.key}}</p>
            <p class="mt-3">Due to security reasons we don't display existing password you have saved.</p>
            <div class="d-flex justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6 py-4">
                    <div class="card" data-aos="zoom-in" data-aos-duration="3000">
                        <div class="card-body">
                            <h5 class="card-title h1">Edit</h5>
                            <form method="POST" action="{{object.get_obsolute_url_for_edit}}" class="py-4">
                                {% csrf_token %}
                                <input type="text" class="form-control" value="{{object.key}}" name="key">
                                {{ form.value |as_crispy_field  }}
                                <div class="d-grid gap-2 col-6 mx-auto mt-5">
                                    <button class="btn lead" type="submit">Reset</button>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
